// Colors
// Business Casual: https://kuler.adobe.com/Business-Casual-color-theme-5595/
$primary-color: #3A55B9;
$primary-color-dark: #102F65;
$primary-color-light: #7794E3;
$secundary-color: #F4F0DB;
$tertiary-color: #BE9C5E;
$highlight-color: #F3CF13;

// Typography
$body-font-stack: "Open Sans", HelveticaNeue, Helvetica, Arial, sans-serif;
$title-font-stack: "Bree Serif", Georgia, serif;
// The following are used by normalize-scss
// https://github.com/JohnAlbin/normalize-scss/blob/master/sass/normalize/_variables.scss
$base-font-size: 18px;
$base-line-height: 1.5 * $base-font-size;
$base-font-family: $body-font-stack;
$h1-font-size: 54px;
$h2-font-size: 27px;

// Layout
$base-spacing: 20px;
