// Inspired by Bootstrap
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

@media (min-width: $screen-md-min) {
    body {
        font-size: percentage(4/3);
        line-height: 1.5;
    }

    .site-header {
        position: fixed;
        width: 100%;
    }

    .site-logo {
        position: fixed;
        top: 5%;
        left: 7%;
    }

    .page {
        padding-top: 100px;
    }

    .wrapper {
        max-width: 30em;
        width: percentage(2/3);
    }
}
