body {
    font-family: $body-font-stack;
    color: $secundary-color;
}

p,
ul,
ol,
address {
    margin-bottom: $base-line-height;
}

a {
    color: $tertiary-color;
    transition: color 0.2s ease;

    &:hover {
        color: $highlight-color;
    }
}

h1,
h2 {
    font-weight: normal;
    margin: 0 0 $base-spacing;
}

h1 {
    font-family: $title-font-stack;
    color: $highlight-color;
    line-height: 1;
}

h2 {
    color: $tertiary-color;
    line-height: 1.2;
}
