@import 'vars';
@import 'node_modules/normalize-scss/sass/normalize/import-now';
@import 'node_modules/bourbon/core/bourbon';
@import 'base';
@import 'type';
@import 'animation';

.site-header {
    @include clearfix;
    padding: $base-spacing;
}

.social-networks {
    float: right;

    a {
        @include size(40px);
        display: inline-block;
        margin-left: $base-spacing;

        &:hover {
            animation: pulse 1s;
        }

        img {
            width: 100%;
        }
    }
}

.site-logo {
    position: absolute;
    top: $base-spacing;
    left: $base-spacing;
    width: 7%;
    min-width: 60px;
}

.page {
    padding: $base-spacing;
}

.site-title {
    margin: (2 * $base-spacing) 0;

    h1 {
        // margin-bottom: 0;
    }
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
}

@import "responsive";
