---
import BaseLayout from './BaseLayout.astro'
---

<BaseLayout>
  <main class="p-4 min-h-screen">
    <header>
      <!-- <img src="/logo.svg" alt="Logo abbekeultjes.nl" class="w-1/2" /> -->
    </header>
    <article>
      <h1 class="font-semibold text-7xl mt-16 mb-4">Abbe Keultjes</h1>
      <h2 class="font-sans text-3xl">A frontend developer.</h2>
    </article>
  </main>
</BaseLayout>
